<!DOCTYPE html>
<html>
<head>
	<title>Drop Students Page</title>
</head>
<body>
	<h1>What is the name of the student to drop?</h1>
	<form action="/students/drop" method="post"><input type="text" name="name" placeholder="Name">
	<button type="submit">Drop Student</button>
	</form>
</body>
</html>